@model List<EShop.Models.Order>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cabinet</title>
</head>
<body>
    <div> 
        @foreach (var item in Model)
        {
            @Html.DisplayFor(modelItem => item.OrderID)
            @Html.DisplayFor(modelItem => item.OrderDate)
        }
    </div>
</body>
</html>
