@model EShop.Models.Client
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cabinet</title>
</head>
<body>
    <div> 
        HELLOHELLO
    </div>
</body>
</html>
